In [16]:
! pip install matplotlib -q

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
data = pd.read_csv(r"D:\github\Neural Network From Scratch\Dataset\digit-recognizer\test.csv")

In [19]:
data.head(2)

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
data = np.array(data)

In [21]:
data.shape

(28000, 784)

In [22]:
np.random.shuffle(data)
m,n = data.shape

In [23]:
print(str(m) + ", " + str(n))

28000, 784

In [24]:
test = data[0:1000].T

In [25]:
Y_test = test[0]
X_test = test[1:n]

In [26]:
train = data[1000:m].T

In [27]:
Y_train = train[0]
X_train = train[1:n]

In [28]:
def init_params():
    W1 = np.random.randn(10,784) - 0.5
    b1 = np.random.randn(10,1) - 0.5
    W2 = np.random.randn(10,10) - 0.5
    b2 = np.random.randn(10,1) - 0.5

    return W1,b1,W2,b2

In [29]:
def ReLU(Z):
    return np.maximum(0,Z)

In [30]:
def Softmax(Z):
    return np.exp(Z)/ np.sum(np.exp(Z))

In [31]:
def forwardprop(W1, b1, W2, b2, X):
    Z1 = W1.dot(X)+b1
    A1 = ReLU(Z1)
    Z2 = W2.dot(A1)+b2
    A2 = Softmax(Z2)